@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

html {
    scroll-behavior: smooth;
    /* font-size: 62.5%; */
}

body {
    min-height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    backdrop-filter: blur(50px);
    z-index: -1;
}

.nav-logo img {
    width: 100px;
}

.navbar a {
    font-size: 1.15rem;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

.navbar.open {
    height: auto;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #000;
    cursor: pointer;
    display: none;
}

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    .icons #close-icon {
        display: none;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: #FFF;
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }
}

/* HERO SECTION */

.hero-section {
    background-color: #010125;
    width: 100%;
}

.hero-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 8rem;
    padding: 2rem;
}

.hero-title {
    font-size: 3rem;
    color: #FFF;
    margin-bottom: 3rem;
    width: 500px;
}

.hero-description {
    font-size: 1.5rem;
    color: #FFF;
    margin-bottom: 3rem;
    width: 500px;
}

.hero-btn{
    text-decoration: none;
    padding: .8rem 1.6rem;
    background-color: aqua;
    border: none;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .hero-img, .hero-content{
        max-width: 80%;
    }
}